@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.header-container {
  display: flex;
  background: var(--primary-color);
  justify-content: center;
  align-items: center;
  position: sticky;
  flex-direction: column;
  top: 0;
  z-index: 100;
  padding: 0 0 0.5rem 0;
}

.top-bar {
  background: #fff;
  width: 100%;
}

.top-bar div {
  max-width: 1400px;
  padding: 0.1rem 0;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
}
.toggle-lang-button {
  background: none;
  border: none;
  border: 1px solid #999;
  padding: 0 0.2rem;
  background: #eee;
}

.toggle-lang-button:hover {
  cursor: pointer;
  background: #ccc;
  transform: scale(1.05);
}

.toggle-lang-button p {
  display: flex;
  align-items: center;
}

.toggle-lang-button img {
  height: 2rem;
}
.header {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  max-width: 1400px;
  width: 100%;
}

.header img {
  height: 60px;
  margin-top: 5px;
}

.header-items {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;
}

.header-number-contact {
  column-gap: 3rem;
}

.header-logo {
  margin: 0 16px;
  filter: invert(100%);
}

.header-modal {
  text-align: center;
}

.phone-container {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.phone-container p {
  font-size: 22px;
  color: #fff;
  margin: 0 8px;
  font-family: Monstserrat, Arial, Helvetica, sans-serif;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.open-modal-button {
  padding: 20px;
  border-radius: 0;
  background: #fff;
  color: var(--primary-color);
  border: none;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.open-modal-button:hover {
  background: #ddd;
}
.modal-content {
  display: flex;
  width: 80%;
  height: 70%;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.modal-left {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.modal-left h2 {
  margin-bottom: 10px;
}

.modal-left p {
  font-size: 16px;
}

.modal-right {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal-right input,
.modal-right textarea,
.modal-right button {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.modal-right textarea {
  resize: vertical;
  height: 100px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 8px 12px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.close-btn:hover {
  background-color: darkred;
}

.links {
  color: #fff;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-size: 16px;
  padding: 10px 15px;
  text-decoration: none;
}
.links:hover {
  text-decoration: underline;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.category-container {
  min-width: 200px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.category-container h3 {
  padding-bottom: 1rem;
  border-bottom: 6px dotted #ccc;
  font-weight: 400;
}

.mobile-dropdown-button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background: none;
  color: #fff;
  display: flex;
}

.mobile-dropdown-button p {
  margin-right: 10px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.mobile-dropdown-button:hover {
  text-decoration: underline;
}

.mobile-dropdown-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  background-color: #f9f9f9;
  z-index: 1;
  padding: 2rem;
  top: 105px;
  width: 100%;
  left: 0;
  box-sizing: border-box;
  gap: 2rem;
}

.mobile-dropdown-content a {
  color: var(--primary-color);
  padding: 0.5rem;
  text-decoration: none;
  display: block;
}

.mobile-dropdown-content a:hover {
  color: #000;
  text-decoration: underline;
}

.mobile-menu {
  display: none;
}

@media (max-width: 1000px) {
  .header {
    display: none;
  }

  .modal-content {
    width: 90%;
    height: 80%;
    flex-direction: column;
  }

  .modal-left,
  .modal-right {
    flex: none;
    width: 100%;
    padding: 10px;
  }

  .modal-left {
    order: 1;
  }

  .modal-right {
    order: 2;
  }
  .dropdown-button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .dropdown-content {
    min-width: 140px;
  }

  .dropdown-content a {
    padding: 10px 12px;
  }
  .mobile-menu {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-content: space-between;
  }

  /* .mobile-menu button {
    border: none;
    background: none;
    cursor: pointer;
  } */
}

/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: #333;
  color: white;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-buttons button {
  padding: 10px;
  background: #555;
  border: none;
  color: white;
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background: white;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-top: 2px solid #ccc;
}

.dropdown-category {
  min-width: 200px;
  max-width: 250px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
}

.sub-dropdown {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.mobile-menu-btn {
  display: none;
  background: none;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.mobile-menu {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.mobile-dropdown {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .nav-buttons {
    display: none;
  }
  .mobile-menu-btn {
    display: block;
  }
} */
