@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.hic-hotel-info-container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  background: #fff;
  box-sizing: border-box;
}

.hic-button-section {
  display: flex;
  gap: 10px;
  margin-bottom: 3rem;
  justify-content: center;
}

.hic-hotel-button {
  color: var(--primary-color);
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  font-size: 1rem;
  border-bottom: 2px solid var(--primary-color);
  transition: 0.3s background;
}

.hic-hotel-button.hic-active {
  border: 2px solid var(--primary-color);
}

.hic-hotel-button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.hic-dropdown-container {
  position: relative;
  display: none;
  margin-bottom: 20px;
}

.hic-dropdown-button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.hic-dropdown-menu {
  position: absolute;
  background-color: white;
  border: 1px solid #ddd;
  width: 100%;
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: 0;
}

.hic-dropdown-item {
  padding: 10px;
  cursor: pointer;
}

.hic-dropdown-item:hover {
  background-color: #f1f1f1;
}

.hic-dropdown-item.hic-active {
  background-color: #0056b3;
  color: white;
}

.hic-display-section {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 1rem;
}

.hic-left-section {
  display: flex;
  flex-direction: column;
}

.hic-left-section img,
.hic-left-section iframe {
  width: 100%;
  aspect-ratio: 1;
}

.hic-right-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-content: center;
  justify-content: center;
}

.hic-right-section h4 {
  font-size: 3rem;
  font-family: Merriweather, "Courier New", Courier, monospace;
  color: var(--primary-color);
}
.hic-adress,
.hic-phone,
.hic-email {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: Merriweather, Arial, Helvetica, sans-serif;
}
.hic-description-container {
  border-top: 2px solid #999;
  padding: 10px;
}
.hic-description {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin-bottom: 1rem;
}
.hic-hotel-features div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.7rem;
  margin: 0.5rem 0;
  border-bottom: 2px solid #999;
  padding: 0.7rem 0;
}

.hic-hotel-features p {
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
}
.hic-hotel-features h5 {
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
}

.hic-right-section p {
  color: #333;
}

.hic-hotel-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .hic-button-section {
    display: none;
  }

  .hic-dropdown-container {
    display: block;
  }

  .hic-display-section {
    grid-template-columns: 1fr;
  }

  .hic-right-section {
    order: 1;
  }
  .hic-left-section {
    order: 2;
  }

  .hic-left-section,
  .hic-right-section {
    max-width: 100%;
    flex: 0 0 100%;
  }
}
