* {
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #424242;
  /* --primary-color: #1A2A80; */
  /* --primary-color: green; */
}

.main-loader {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: grid;
  place-items: center;
}

.loader {
  display: flex;
  justify-content: center;
  height: 300px;
  align-items: center;
}

.loader span {
  width: 48px;
  height: 48px;
  border: 5px solid #cecece;
  border-bottom-color: var(--primary-color);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.body {
  box-sizing: border-box;
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
