@import url("https://fonts.googleapis.com/css2?family=Imperial+Script&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.tour-hero {
  position: relative;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 70vh;
  background-repeat: no-repeat;
}

.container {
  display: grid;
  grid-template-columns: 70% 30%;
  max-width: 1400px;
  margin: 0 auto;
  transform: translateY(-100px);
  background: #fff;
}
.left-section {
  padding: 40px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.left-section h1 {
  margin: 2rem 0;
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  font-weight: 800;
}
.left-section span {
  display: block;
  width: 30%;
  border-bottom: 4px dotted #666;
}

.left-section p {
  line-height: 1.5;
  color: #444;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin: 30px 0;
}
.tour-hero-arrow {
  transform: rotate(180deg) translateY(75%);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.right-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #333;
  border-bottom: 80px solid var(--primary-color);
}
.day-country-container {
  width: 100%;
  background: var(--primary-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
  color: #fff;
}

.day-country-container div p:nth-child(1),
span {
  font-size: 72px;
  font-family: Merriweather, Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.day-country-container div p:nth-child(2) {
  font-family: Merriweather, Arial, Helvetica, sans-serif;
}

.countries-meals-container {
  padding: 16px;
}
.icon {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  color: #fff;
  fill: #fff;
}

.icon p {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}
.countries-meals-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 20px 0;
  gap: 10px;
  color: #fff;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 300;
  border-bottom: 6px dotted #fff;
  padding-bottom: 2rem;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
  box-sizing: border-box;
  color: #fff;
  border-top: 6px dotted #fff;
  padding: 2rem;
  position: relative;
}

.price-container p:nth-child(1) {
  font-size: 18px;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.price-container div p {
  font-size: 32px !important;
  font-weight: 600 !important;
  font-family: Merriweather, Arial, Helvetica, sans-serif !important;
  border-bottom: 6px double #fff;
}

.tour-map {
  width: 90%;
  border-radius: 1000px;
  margin: 40px 5px;
}

.our-guides {
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: #fff;
  margin: 2rem auto 0 auto;
  box-sizing: border-box;
}

.our-guides span {
  color: var(--primary-color);
  font-family: "Imperial Script", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  margin-right: 8px;
}
.our-guides h4 {
  color: var(--primary-color);
  font-family: Merriweather;
  font-size: 1.5rem;
  border-bottom: 6px dotted #666;
  width: fit-content;
}

.tv-reserve-btns {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.tv-show-booking {
  width: 90%;
  padding: 0.5rem 2rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  margin: 0 auto;
  font-size: 1.3rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.tv-show-booking:hover {
  background-color: #970a00;
}
.tv-deals {
  width: 90%;
  padding: 0.5rem 2rem;
  background-color: #fff;
  color: var(--primary-color);
  text-decoration: none;
  margin: 1rem auto;
  font-size: 1.2rem;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

.tv-deals:hover {
  background-color: #aaa;
}
.our-guides p {
  padding: 2rem;
  line-height: 1.5;
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  color: #333;
}
@media (max-width: 768px) {
  /* Mobile responsive stacking */
  .container {
    grid-template-columns: 1fr;
  }
  .left-section {
    padding: 10px;
  }
}
